{{define "home"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

<header>
    <nav>
        <h2>My App</h2>

        <div>
            <a href="auth/login">Login</a>
            <a href="auth/register">Register</a>
            <a href="./home.html">Home</a>
            <a href="./profile.html">Profile</a>
            <button id="logoutBtn" type="button">Logout</button>
        </div>
    </nav>
</header>

<main>
    <h1>Welcome!</h1>
    <p>You are successfully logged in.</p>
</main>

<script>
const logoutBtn = document.getElementById("logoutBtn");

logoutBtn.addEventListener("click", async () => {
    const confirmLogout = confirm("Are you sure you want to logout?");

    if (!confirmLogout) return;

    try {
        const res = await fetch("/auth/logout", {
            method: "POST",
        });

        if (res.ok) {
            window.location.href = "/login";
        } else {
            alert("Logout failed");
        }
    } catch (err) {
        alert("Network error");
    }
});
</script>

</body>
</html>
{{end}}