{{define "profile"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <h1>HackMe</h1>
    <p>Pfp: </p>
    <p>Username: </p>
    <p>Email: </p>
 
    <form id="changePasswordForm">
    <div>
      <label for="oldPassword">Old Password</label><br />
      <input
        id="oldPassword"
        name="oldPassword"
        type="password"
        autocomplete="current-password"
        required
      />
    </div>

    <div>
        <label for="oldPassword2">Old Password</label><br />
      <input
        id="oldPassword2"
        name="oldPassword2"
        type="password"
        autocomplete="current-password"
        required
      />
    </div>

    <div>
      <label for="newPassword">New Password</label><br />
      <input
        id="newPassword"
        name="newPassword"
        type="password"
        autocomplete="current-password"
        required
      />
    </div>

    <br/>

    <button type="submit">Change Password</button>
    </form>
    <p id="successMessage" style="color: green;"></p>

    <p id="errorMessage" style="color: red;"></p>

    <script>
        const form = document.getElementById("changePasswordForm");
        const errorMessage = document.getElementById("errorMessage");
        const successMessage = document.getElementById("successMessage");

        form.addEventListener("submit", async function (event) {
            event.preventDefault();

            errorMessage.textContent = "";
            successMessage.textContent = "";

            const oldPassword = document
                .getElementById("oldPassword")
                .value;
            
            const oldPassword2 = document
                .getElementById("oldPassword2")
                .value;

            if (oldPassword !== oldPassword2) {
                errorMessage.textContent = "Old passwords are not the same";
                return;
            }

            const newPassword = document
                .getElementById("newPassword")
                .value;

            console.log("CHANGE PASSWORD:", {
                oldPassword: oldPassword,
                newPassword: newPassword,
            });

            try {
                const response = await fetch("/profile/change-password", {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    credentials: "include",
                    body: JSON.stringify({
                        oldPassword: oldPassword,
                        newPassword: newPassword,
                    }),
                });

                if (!response.ok) {
                    const errorData = await response.json().catch(() => null);

                    if (errorData?.error === "change password failed") {
                        if (length(newPassword) < 6) {
                            errorMessage.textContent = "password must have at least 6 characters";
                        } else if (length(newPassword) > 50) {
                            errorMessage.textContent = "password must have not more than 50 characters";
                        }
                        return;
                    }

                    if (errorData?.error === "invalid argument") {
                        errorMessage.textContent = "New password is invalid";
                        return;
                    }

                    errorMessage.textContent = errorData?.error || "Something went wrong";
                    return;
                } else {
                    successMessage.textContent = "password changed";
                }

                const data = await response.json().catch(() => null);

                console.log("CHANGE PASSWORD SUCCESS:", data);
            } catch (error) {
                console.error("ERROR:", error);
                errorMessage.textContent = "Server connection error";
            }
        })
    </script>
</body>
</html>
{{end}}
